::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 1290px;
  margin: 0 auto;
}

.header-top {
  background-color: #f2f2f2;
}

.header-top .header-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top .header-top-container .header-top-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  margin: 15px 0;
}

.header-top .header-top-container .header-top-photo p {
  margin-left: 10px;
}

.header-top .header-top-container .header-top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 0;
}

.header-top .header-top-container .header-top-links li {
  padding: 0 26px;
  border-right: 2px solid black;
}

.header-top .header-top-container .header-top-links li:last-child {
  padding-right: 0px;
  border-right: none;
}

.header-top .header-top-container .header-top-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 11px;
}

.header-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom-container .header-bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom-container .header-bottom-links li {
  margin: 47px 30px 65px 0px;
}

.header-bottom-container .header-bottom-links li:last-child {
  margin-right: 120px;
}

.header-bottom-container .header-bottom-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.header-bottom-container .header-bottom-logo {
  margin-top: 30px;
}

.header-bottom-container .header-bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom-container .header-bottom-social .social {
  margin-top: 44px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #d9bf8f;
  text-align: center;
}

.header-bottom-container .header-bottom-social .social i {
  color: #d9bf8f;
  line-height: 35px;
  font-size: 20px;
}

.header-bottom-container .header-bottom-social .social:last-child {
  margin-right: 0px;
}

.header-bottom-container .header-bottom-social .social:hover {
  background: #ad5c5c;
}

.header-bottom-container .header-bottom-drop {
  display: inline-block;
  width: 115px;
  height: 35px;
  background-color: black;
  margin-top: 45px;
  position: relative;
}

.header-bottom-container .header-bottom-drop p {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
}

.header-bottom-container .header-bottom-drop .sub-menu {
  display: none;
  position: absolute;
  background-color: #303030;
  z-index: 23;
  top: 35px;
  left: 0px;
}

.header-bottom-container .header-bottom-drop .sub-menu li {
  padding: 9px 7px 9px 40px;
}

.header-bottom-container .header-bottom-drop .sub-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.header-bottom-container .header-bottom-drop:hover .sub-menu {
  display: block;
}

.banner {
  position: relative;
  width: 100%;
}

.banner-bacground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-bacground img:nth-child(1) {
  min-width: 100%;
}

.banner-bacground img:nth-child(2) {
  position: absolute;
  z-index: 223;
  top: 115px;
}

.banner-bacground a {
  position: absolute;
  top: 485px;
  border: none;
  width: 220px;
  height: 75px;
  background-color: #f09d66;
  color: white;
  font-size: 34px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 22;
}

.banner-bacground a p {
  text-align: center;
  padding-top: 19px;
}

.banner-bacground a:hover {
  background-color: #c59372;
}

.support-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.recent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 75px;
}

.recent-container .line {
  font-size: 36px;
  width: 100%;
  text-align: center;
  position: relative;
}

.recent-container .line span {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 0px 25px;
}

.recent-container .line:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  position: absolute;
  top: 50%;
  margin-top: 3px;
  z-index: 0;
}

.items {
  margin-top: 57px;
  margin-bottom: 92px;
}

.items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #eaeaea;
  padding: 0 25px 15px 25px;
}

.items-container a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 15px;
}

.items-container a img:nth-child(2) {
  position: absolute;
  bottom: 3px;
  left: 55px;
  z-index: 1;
}

.items-container a img:nth-child(3) {
  position: absolute;
  bottom: 3px;
  left: 55px;
  z-index: 2;
  display: none;
}

.items-container a img:nth-child(4) {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.items-container a:hover:after {
  content: url("../img/heart.png");
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2em;
  -webkit-box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);
}

.items-container a:hover:after img:nth-child(3) {
  display: block;
}

.items-container a:hover img:nth-child(3) {
  display: block;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.footer {
  background-color: #141414;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 118px;
}

.footer-container-shops {
  padding-right: 130px;
}

.footer-container-shops p {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-container-shops-links {
  margin-top: 50px;
}

.footer-container-shops-links li {
  padding-bottom: 15px;
}

.footer-container-shops-links li a {
  text-decoration: none;
  color: #494949;
}

.footer-container-shops-links li:last-child {
  padding-bottom: 0px;
}

.footer-container-information {
  padding-right: 130px;
}

.footer-container-information p {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-container-information-links {
  margin-top: 50px;
}

.footer-container-information-links li {
  padding-bottom: 15px;
}

.footer-container-information-links li a {
  text-decoration: none;
  color: #494949;
}

.footer-container-information-links li:last-child {
  padding-bottom: 0px;
}

.footer-container-servise {
  padding-right: 130px;
}

.footer-container-servise p {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-container-servise-links {
  margin-top: 50px;
}

.footer-container-servise-links li {
  padding-bottom: 15px;
}

.footer-container-servise-links li a {
  text-decoration: none;
  color: #494949;
}

.footer-container-servise-links li:last-child {
  padding-bottom: 0px;
}

.footer-container-connect p {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-container-connect-group {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container-connect-group-social {
  margin-right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  text-align: center;
}

.footer-container-connect-group-social i {
  color: black;
  line-height: 50px;
  font-size: 25px;
}

.footer-container-connect-group-social:hover {
  background: #ad5c5c;
}

.footer-container-connect-subcribe {
  padding-top: 50px;
}

.footer-container-connect-subcribe p {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-container-connect-subcribe-input {
  border: 1px solid #323030;
  margin-top: 55px;
}

.footer-container-connect-subcribe-input .subcribe {
  background-color: transparent;
  color: white;
  border: none;
  margin: 10px 90px 10px 25px;
}

.footer-container-connect-subcribe-input ::-webkit-input-placeholder {
  color: #6a6a6a;
}

.footer-container-connect-subcribe-input :-ms-input-placeholder {
  color: #6a6a6a;
}

.footer-container-connect-subcribe-input ::-ms-input-placeholder {
  color: #6a6a6a;
}

.footer-container-connect-subcribe-input ::placeholder {
  color: #6a6a6a;
}

.footer-container-connect-subcribe-input .but {
  border: none;
  background-color: #323030;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  margin-right: 4px;
}
/*# sourceMappingURL=style.css.map */